.compare-grid-container {
    width: 45%;
    margin: 2%;
    padding: 0;
    display: inline-block;
    text-align: center;
    background-color: white;
    color: black;
    vertical-align: top;
    border-radius: $border-radius;
    min-height: 600px;
    height: auto;
    position: relative;
    padding-bottom: 270px;

    @media screen and (max-width: $landscape-phone-to-portrait-tablet-max-width) {
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
        display: block;
    }

}

.bold-label {
    font-weight: bold;
    width: 200px;
    text-align: left;
    line-height: 20px;

}

.value-label {
    font-weight: normal;
    width: 75px;
    text-align: right;
    line-height: 20px;
}

.color-dot {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.asset-card {
    width: 390px;
    height: auto;
    min-height: 20px;
    border-bottom: solid lightgray 1px;
    margin: auto;
    text-align: center;
  

    &:active {
        background-color: lightgray;
    }
}

.asset-span {
    display: block;
    text-align: left;
    margin-left: 5px;
}

.name-span {
    font-weight: bold;

}

.ticker-span {
    font-style: italic;
}

.clickable-icon {
    &:active {
        color: gray;
    }
}