$breaker-bay: #53a5a0;
$light-forest-green: #5db27b;
$summer-green: #95bea6;
$morning-glory: #a0cdca;
$light-blue: #b2d9ef;
$shakespeare: #56acdf;
$denim: #2e70b4;
$midnight-blue: #1d4873;
$french-lilac: #83568b;
$true-v: #8777d6;
$melrose: #bdb4e8;
$french-lilac: #e2bdea;
$pale-chestnut: #dda1ba;
$carissma: #dc7f9b;
$bright-lavender: #cb86d9;
